<style>
    .message-container {
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
}

.message-container p {
    margin: 10px 0;
}
</style>

<div class="message-container">
    <p>Al no tener ninguna actividad tuya registrada en los últimos 2 días, hemos eliminado tu cuenta.</p>
    <p>Puedes volver a registrarte si así lo deseas.</p>
</div>
