<div class="password-reset-request-container">
    <div class="password-reset-request-content">
        <h2 class="password-reset-request-title">Ingrese la nueva contraseña </h2>
        <p class="password-reset-request-subtitle">La contraseña no puede ser la misma a la que tenías anteriormente</p>

        <form action="/users/createNewPassword/{{userId}}/{{token}}" method="post" class="password-reset-form">
            <div class="form-group">
                <label for="password" class="password-reset-label">Contraseña nueva</label>
                <input type="password" name="password" id="password" class="password-reset-input" placeholder="Ingresa tu contraseña nueva" required>
            </div>

            <input type="submit" value="Enviar" class="password-reset-request-button">
        </form>
        </div>
</div>
