<div>
    <h2>Navegación</h2>
    <a href="http://localhost:3000/products">Productos</a>
    <a href="http://localhost:3000/carts/63f7e68c40c71c8462e98304">Carrito</a>
    <a href="http://localhost:3000/profile">Perfil</a>
    <a href="http://localhost:3000/users/logout">Cerrar sesion</a>
</div>

<h3>Tu perfil</h3>

<p>Nombre: {{name}}</p>
<p>Apellido: {{lastName}}</p>
<p>Email: {{email}}</p>
<p>Rol: {{role}}</p>